name: Minimum Supported Rust Version (MRSV)
on:
  push:
  pull_request:
env:
  CARGO_TERM_COLOR: always
  MSRV: "1.74"
jobs:
  # Build and test the tool with the Minimum Supported Rust Version
  msrv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install valgrind
        run: sudo apt-get update && sudo apt-get install valgrind
      - run: rustup update $MSRV && rustup default $MSRV
      - name: Run tests
        run: cargo test
