name: Minimum Supported Rust Version (MRSV)
on: pull_request
env:
  CARGO_TERM_COLOR: always
  MSRV: "1.51"
jobs:
  # build but don't test the crate with the Minimum Supported Rust Version
  msrv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: rustup update $MSRV && rustup default $MSRV
      - run: cargo check
