name: Style
on:
  push:
defaults:
  run:
    shell: bash
jobs:
  # Check correct formatting
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: rustup update stable && rustup default stable
      - run: rustup component add rustfmt
      - name: Check formatting
        run: cargo fmt --all -- --check
