name: Style
on:
  push:
    branches:
      - master
  pull_request:
defaults:
  run:
    shell: bash
jobs:
  # Check correct formatting
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: rustup update stable && rustup default stable
      - run: rustup component add rustfmt
      - name: Check formatting
        run: cargo fmt --all -- --check
